.content {
    flex: 1;
    padding: 0 48px;
}

.content__description {
    height: 100%;
    width: 442px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}

.content__objects {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.content__socials {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.content__shops {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .content__socials {
        margin-bottom: 22px;
        margin-top: 60px;
    }

    .content__objects {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .content__shops {
        flex-direction: column-reverse;
    }

    .content__description {
        width: 280px;
    }
}

@media screen and (max-width: 420px) {
    .content__description {
        display: none;
    }
}