.card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 21px;
    width: 246px;
    height: 70px;
}

.card__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.card__img {
    margin-top: 8px;
}

@media (max-width:767px) {
    .card {
        margin-top: 26px;
    }
}