.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  color: #FFFFFF;
  z-index: -1;
  overflow: hidden;
}

.menu__content,
.menu__backdrop {
  background-color: #000000;
  transition: all .5s ease-in-out;
}

.menu__content {
  opacity: .95;
  box-sizing: border-box;
  margin-right: -260px;
  padding: 0;
}

.menu__backdrop {
  opacity: 0;
  flex: 1;
}

.menu__close::before {
  content: "\2715";
  font-size: 28px !important;
}

.menu__close {
  text-align: end;
}

.menu__list {
  margin-top: 24px;
}

.menu__list--item {
  margin-top: 16px;
  text-align: center;
  white-space: nowrap;
}

.menu__list--item a {
  color: inherit;
}

.menu__list--item:first-child {
  margin-top: 0;
}

.menu_open-over {
  z-index: 1 !important;
}

.menu_open .menu__content {
  padding: 20px;
  margin-right: 0;
}

.menu_open .menu__backdrop {
  opacity: .7;
}