.menu {
  position: absolute;
  box-sizing: border-box;
  top: 104px;
  left: 0;
  width: 100%;
  height: 0;
  color: #FFFFFF;
  z-index: 1;
  overflow: hidden;
  transition: all .3s ease-in-out;
  background: #FFFFFF;
  display: flex;
  width: 100%;
}

.menu__content {
  flex: 1;
  margin: 26px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-between;
}

.menu__backdrop {
  opacity: 0;
  flex: 1;
}

.menu__close {
  text-align: end;
}

.menu__list {}

.menu__list--item {
  margin-top: 16px;
  white-space: nowrap;
}

.menu__list--item a {
  color: #000000;
}

.menu__list--item:first-child a {
  color: inherit;
}

.menu__list--item:first-child {
  margin-top: 0;
}

.menu_open-over {
  /* z-index: 1 !important; */
}

.menu_open {
  height: calc(100% - 104px);
}

.menu_open .menu__content {
  margin-right: 0;
}

.menu_open .menu__backdrop {
  opacity: .7;
}

.menu__footer .content__socials {
  margin: 0;
}

.menu__footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.menu__footer .content__socials .social {
  width: 32px;
  height: 32px;
}

.menu--content__privacy {
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  margin-top: 22px;
}

.menu_open .menu__footer {
  opacity: 1;
  transition: all 1s ease-in-out;
}