.navbar {
    background: #FFFFFF;
    box-shadow: 0px 21px 25px rgba(0, 0, 0, 0.141882);
    backdrop-filter: blur(10.8731px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 14px 0;
}

.navbar--list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 1095px;
}

.navbar--list-mobile {
    width: 100%;
    height: 42px;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    margin: 0 26px;
}

.navbar--list-mobile__burger,
.navbar--list-mobile__logo {
    cursor: pointer;
}

.navbar--list-mobile__logo {
    width: 86px;
    height: 42px;
}

.navbar--list__item {
    flex: 25%;
    margin: 0 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.8;
    transition: all .2s ease;
}

.navbar--list__item:hover {
    color: #AD1236 !important;
}

.navbar--list__item--link {
    color: inherit;
    white-space: nowrap;
}

.navbar--list__item--active {
    color: #AD1236 !important;
    font-weight: 700;
}

.navbar--list__item_first {
    white-space: nowrap;
}

.navbar--list__item_second {
    /* margin-left: 59px; */
}

.navbar--list__item_third {
    /* margin-left: 59px; */
}

.navbar--list__item_fourth {
    /* margin-left: 87px; */
}

.navbar--menu__icon {
    position: relative;
}

.navbar--menu__icon-burger,
.navbar--menu__icon-close {
    user-select: none;
    transition: opacity .2s ease-in-out;
}

.navbar--menu__icon-burger {
    z-index: 1;
}

.navbar--menu__icon-close {
    position: absolute;
    top: -5px;
    left: 3px;
    opacity: 0;
    z-index: -1;
}

.navbar--menu__icon-close::before {
    content: "\2715";
    font-size: 28px !important;
}

.navbar--menu__icon_open .navbar--menu__icon-close {
    opacity: 1;
    z-index: 1;
}

.navbar--menu__icon_open .navbar--menu__icon-burger {
    opacity: 0;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .navbar--list {
        display: none;
    }

    .navbar--list-mobile {
        display: flex;
    }
}