.social {
    position: relative;
    width: 28px;
    height: 28px;
    margin-left: 20px;
    cursor: pointer;
}

.social__icon {
    position: absolute;
    left: 0;
    top: 0;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.social:hover .social__icon {
    top: -14px;
}

.social:first-child {
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .social__icon {
        width: 32px;
        height: 32px;
    }
}